<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../View/header.css" />
    <link rel="stylesheet" type="text/css" href="../View/home.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Home</title>
</head>

<ul>   
    <div class="img-fluid">  <img src="../View/img/Logo-removebg-preview.png" ></div>
    <li><a href="#home">accueil</a></li>
    <li><a href="#news">Signalement</a></li>
    <li><a href="#contact">Historique</a></li>
    <li><a href="#contact">Statistique</a></li>
    <class style="float:right"><a class deco="Deconection" href="#about">deconnection</a></class>
</ul>
<body>

    <img src="../View/img/podium.png" alt="podium" class="center" ></img>
      
    <div class="d-flex justify-content-around">
        <li><a href="#news">Signalement</a></li>
        <li><a href="../Controller/executeHistorique.php">Historique</a></li>
        <li><a form action= "../" methode="get" input type = "submit" >Historique</a></li>
        <li><form action= "../Controller/executeHistorique.php" methode="get">
            <input type = "submit" value="Historique">
        </form></li>
        <li><a href="#contact">Statistique</a></li>
    </div>

  
</body>
</html>